<h1><%=@user.username%>'s HomePage</h1>

<ul>
<a href="/surveys/new">Create a new survey</a><br/>
<a href="/users/surveys">My Created Surveys</a>
<h2>All Available Surveys:</h2>
<ul id="survey_list">
<% @surveys.each do |survey| %>
  <li><a href='/surveys/<%=survey.id%>'><%=survey.title%></a> - <a href='/users/<%=survey.creator.id%>/surveys'><%=survey.creator.username%></a></li>
  <%end%>
</ul>


<form action='/logout' method='get'>
  <input type='submit' value='logout'>
</form>
