<h1><%=@user.username%>'s HomePage</h1> 
<ul> 
<% @surveys.each do |survey| %> 
  <li><a href='/surveys/<%=survey.id%>'><%=survey.title%></a></li>
  <li><a href='/users/<%=survey.creator.id%>/surveys'><%=survey.creator.username%></a></li> 
  <%end%> 
</ul>


<form action='/logout' method='post'>
  <input type='submit' value='logout'>
</form>

