<a href="/">Home</a>
<div class="survey_stats">
	<% if current_user.taken_surveys.where(id: @survey.id).empty? %>
		<a id="<%=@survey.id%>" class="take_survey" href='/surveys/<%=@survey.id%>/take'>Take Survey!</a>
	<% else %>
		<p>You've taken this survey</p>
	<% end %>


	<div id="player"></div>

	<h2> Survey Stats: </h1>
	<% @survey.questions.each do |question| %>
		<div id="choice_percents">
			<%= question.content %>( <%= question.responses.length %> response(s))
			<% question.choice_percents.each do |cp| %>
			<ul>
				<li><%= cp[:content] %> - <%= cp[:percent]*100 %>%</li>
			</ul>
			<% end %>
		</div>
	<% end %>
</div>

<div class='take_survey_question_display'>
</div>

<div id="movie"></div>
